html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("anasayfa.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
  
}
body {
    position: relative; 
    height: 100%;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

.gecisler {
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: noneblur(5px);
    position:relative;
    top: auto;
    right: auto;
    width: auto;
    padding: 0;
    gap: 25px;
   align-items: center;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;

  .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: auto;
    img{
    display: block;
    width: 120px;
    max-width: 12vw;
    height: auto;
       }
    }
}

.gecisler a {
  color: 	#D7CCC8;
  font-weight: 500;
  font-size: 120%;
  padding: 5px 0;
  border-bottom: none;
  transition: color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.gecisler a:hover {
  color: #ffd08a;
  border-bottom: none;
}

.container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 40px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
input:hover{
    border-color: #aeaba7;
    background-color: rgba(200, 170, 135, 0.15);
}

input[type="submit"] {
    padding: 4px 20px;  
    font-size: 16px;
    border-radius: 5px;
}

