html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("anasayfa.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
  
}
body {
    position: relative; 
    height: 100%;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}
.gecisler {
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: noneblur(5px);
    position:relative;
    top: auto;
    right: auto;
    width: auto;
    padding: 0;
    gap: 25px;
   align-items: center;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;

  .logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: auto;
    img{
    display: block;
    width: 120px;
    max-width: 12vw;
    height: auto;
       }
    }
}
.gecisler a {
  color: 	#D7CCC8;
  font-weight: 500;
  font-size: 120%;
  padding: 5px 0;
  border-bottom: none;
  transition: color 0.3s, border-color 0.3s;
  text-decoration: none;
}
.gecisler a:hover {
  color: #ffd08a;
  border-bottom: none;
}

section{
  max-width:900px;
  margin:120px auto 80px auto;
  padding:45px 55px;
  color:black;
  font-family:"Times New Roman",serif;
  line-height:2;
  background: rgba(234, 229, 229, 0.65);
  border-radius:14px;
  backdrop-filter:blur(3px);
}
section h1{
  font-size:53px;
  margin-bottom:35px;
  font-weight:600;
  text-align:center;
}
section h2{
  font-size:33px;
  margin-top:55px;
  margin-bottom:18px;
  font-weight:500;
  text-align:center;
  position:relative;
}
section h2::after{
  content:"";
  display:block;
  width:70px;
  height:2px;
  background:rgba(255,255,255,0.7);
  margin:12px auto 0 auto;
}
section p{
  font-size:21px;
  margin-bottom:22px;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
  text-justify:inter-word;
}
section h1+p{
  font-size:21px;
  line-height:2.1;
  margin-bottom:35px;
  font-weight:500;
}
section p em{
  display:block;
  font-size:21px;
  font-style:italic;
  margin-top:35px;
  opacity:.95;
}
section ul{
  margin:29px auto;
  max-width:700px;
  padding-left:20px;
}
section ul li{
  font-size:21px;
  margin-bottom:10px;
}

