
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eaf6ee; 
}

.main-div {
    text-align: center;
}


.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #3d684b; 
    font-weight: bold;
}


.box {
    background: #ffffff;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 20px;
    border-radius: 12px;
    display: inline-block;
    width: 280px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #d6eadf; 
}


.box:hover {
    transform: scale(1.05);
    background: #f4fbf7; 
}


.box i {
    margin-right: 10px;
    color: #6aa989; 
}


.hours {
    margin-top: 25px;
    background: #ffffff;
    padding: 18px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #d6eadf;
}

.hours h3 {
    margin: 0 0 10px 0;
    color: #3d684b;
}
